<button (click)="clearSelection();"> clear selection </button>
<button (click)="bulkAddTag();"> add tag </button>
<input type="text" [(ngModel)]="newBulkTag" placeholder="New tag">
<button (click)="bulkClearTag();"> clear tags </button>
<button (click)="bulkAddStruct();"> add to struct </button>
<input type="text" [(ngModel)]="newBulkStruct" placeholder="New structure name">
<button (click)="bulkClearStruct();"> remove from all selections </button>
<span class="badge" *ngFor='let tag of selectedTags'>{{tag}}</span>

<<div>
  <clr-tree-node [clrTreeNodeExpanded]="true">
      <clr-datagrid>
          <clr-dg-column></clr-dg-column>
          <clr-dg-column>Title</clr-dg-column>
          <clr-dg-column>Artist</clr-dg-column>
          <clr-dg-column>Tags</clr-dg-column>
          <clr-dg-column>BPM</clr-dg-column>
          <clr-dg-column>Key</clr-dg-column>
          <clr-dg-column>Structure</clr-dg-column>

          <clr-dg-row *ngFor='let key of list | keys'>
              <clr-dg-cell>
                <input type="checkbox" [checked]="key.value.selected" (click)="selectDocument(key.value)">
              </clr-dg-cell>
              <clr-dg-cell >{{key.value.title}}</clr-dg-cell>
              <clr-dg-cell>{{key.value.artist}}</clr-dg-cell>
              <clr-dg-cell>
                <span class="badge" (click)="selectTag(tag);"  *ngFor='let tag of key.value.tags'>{{tag}}</span>
                <input type="text" id="field_tag" [(ngModel)]="key.value.newTag" placeholder="New tag">
                <clr-icon shape="add" size="15" (click)="updateDoc(key.value);"></clr-icon>
              </clr-dg-cell>
              <clr-dg-cell>{{key.value.bpm}}</clr-dg-cell>
              <clr-dg-cell>{{key.value.key}}</clr-dg-cell>
              <clr-dg-cell>{{key.value.structure}}</clr-dg-cell>
          </clr-dg-row>

          <clr-dg-footer>tracks</clr-dg-footer>
      </clr-datagrid>
  </clr-tree-node>
</div>
