<div class="main-container">
    <!-- <div class="alert alert-app-level">
        ...
    </div> -->
    <header class="header header-6">
        selekta
    </header>
    <!-- <nav class="subnav">
        ...
    </nav> -->
    <div class="content-container">
        <div class="content-area">
            <router-outlet></router-outlet>
        </div>
        <nav class="sidenav">
          <section class="sidenav-content">
            <section class="nav-group">
              <label for="tabexample2">Selections</label>
              <ul class="nav-list">
                  <li><a class="nav-link" routerLink="/view-selection" routerLinkActive="active"><clr-icon shape="list" size="15"></clr-icon> View Selection</a></li>
                  <li><a class="nav-link" routerLink="/view-vault" routerLinkActive="active"><clr-icon shape="list" size="15"></clr-icon> View Vault</a></li>
                  <li><a class="nav-link">Link 6</a></li>
              </ul>
            </section>
            <section class="nav-group">
              <label for="tabexample2">General</label>
              <ul class="nav-list">
                  <li><a class="nav-link" routerLink="/dashboard" routerLinkActive="active"><clr-icon shape="home" size="15"></clr-icon> Dashboard</a></li>
                  <li><a class="nav-link" routerLink="/configurations" routerLinkActive="active"><clr-icon shape="home" size="15"></clr-icon> Settings</a></li>
              </ul>
            </section>
          </section>
        </nav>
    </div>
</div>
